---
import Layout from "../layouts/Layout.astro";
import Three from "../components/Three.jsx";
---

<Layout title="ADIANO4">
	<main class="h-screen flex justify-center bg-slate-500">
		<Three client:load title="ADIANO4" />
	</main>
</Layout>
